nav{
    display: flex;
    justify-content: space-between;
    background-color: wheat;
    border-radius: 10px black;
}

NavLink{
    margin-right: 10px;
    margin-left: 10px;
    
}
.cart{
    margin-top: 8px;
    margin-right: 5px;
}
h3{
    margin-left: 5px;
}
